Package: libtoxcore-dev
Source: toxcore
Version: 20141208-1
Architecture: all
Maintainer: cmotc cmotc@openmailbox.org
Installed-Size: 59
Depends: libtoxcore (= 20141208-1)
Section: misc
Priority: optional
Homepage: https://libsodium.org
Description: LibToxCore development files
