Source: tox-libtoxcore
Section: libs
Priority: optional
Build-Depends: debhelper (>= 8.0.0), dpkg-dev (>= 1.16.1), dh-autoreconf,
 libtool, autotools-dev, automake, libconfig-dev (>= 1.4.8), yasm,
 libsodium-dev (>= 0.5.0) | tox-libsodium-dev,
 libopus-dev | tox-libopus-dev,
 libvpx-dev | tox-libvpx-dev
Maintainer: Anton Batenev <antonbatenev@yandex.ru>
Standards-Version: 3.9.4
Homepage: https://github.com/irungentoo/toxcore

Package: tox-libtoxcore
Depends: ${misc:Depends}, ${shlibs:Depends}
Architecture: any
Description: The future of online communications
 Tox aims to be an easy to use, all-in-one communication platform
 that ensures their users full privacy and secure message delivery.

Package: tox-libtoxcore-dev
Section: libdevel
Depends: ${misc:Depends}, tox-libtoxcore (= ${binary:Version})
Architecture: any
Description: The future of online communications - headers
 Tox aims to be an easy to use, all-in-one communication platform
 that ensures their users full privacy and secure message delivery.

Package: tox-bootstrapd
Depends: ${misc:Depends}, ${shlibs:Depends}
Architecture: any
Description: Tox DHT Bootstrap Daemon
 Tox aims to be an easy to use, all-in-one communication platform
 that ensures their users full privacy and secure message delivery.
